## Statistics

In [1]:
# How do we do statistics using Python

# The fundamentals of Statistics - Python 

# Types of Statistics - Descriptive Statistics & Inferential Statistics

In [2]:
# Pandas 
# Numerical Python
# Statistics
# Maths
# Scipy

In [3]:
import pandas as pd 
import numpy as np 
import statistics as st

In [4]:
titanic_data = pd.read_csv('train.csv')

In [5]:
titanic_data['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

## Definitions & Concepts

In [6]:
# Statistics is hard but simple with Python

In [7]:
# Statistics == Descriptive Statistics & Inferential Descriptive

### Descriptive Statistics

In [8]:
# Central Tendency - Understand the location of our data - Mean, Median & Mode 
# Measures of dispersion - Spread of data - Standard Deviation, Variance, IQR (Inter Quantile Range)
# Shape of the data distribution - Normal distribution, Skewed 
# Charts & Graphs - Visualize our data features

In [9]:
import pandas as pd # Data Manipulation
import numpy as np # Numerical Analysis
import seaborn as sns # Charts & Graphs
import statistics as st # Statistics

In [10]:
# A dataset on extra-marital affairs 
data_affairs = pd.read_csv('Affairs.csv') # Reading a dataset into a dataframe

In [11]:
data_affairs.shape # Dimension in rows & columns

(601, 10)

In [12]:
data_affairs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601 entries, 0 to 600
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     601 non-null    int64
 1   affairs        601 non-null    int64
 2   gender         601 non-null    object
 3   age            601 non-null    float64
 4   yearsmarried   601 non-null    float64
 5   children       601 non-null    object
 6   religiousness  601 non-null    int64
 7   education      601 non-null    int64
 8   occupation     601 non-null    int64
 9   rating         601 non-null    int64
dtypes: float64(2), int64(6), object(2)
memory usage: 47.1+ KB